{$ROOT_DOMAIN} {
	redir https://{$APP_DOMAIN}{uri} permanent
}

{$APP_DOMAIN} {
	encode gzip zstd

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "SAMEORIGIN"
	}

	reverse_proxy 172.17.0.1:30080 {
		header_up Host {host}
	}
}

k3s.knosi.xyz {
	encode gzip zstd

	reverse_proxy 172.17.0.1:30080 {
		header_up Host {host}
	}
}
